<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Information </title>
    <script src="../../eel.js"></script>
</head>

<body>
    <link rel="stylesheet" href="userinfo.css">
    <div class="et-hero-tabs-container">
        <span><img src="../../assets/image/Logo.png" alt="icon"
                class="brandimage"></a></span>
        <a class="et-hero-tab all" href="#tab-Home">
            <h3>All</h3>
        </a>
        <a class="et-hero-tab men" href="#tab-Men">
            <h3>Men</h3>
        </a>
        <a class="et-hero-tab women" href="#tab-Women">
            <h3>Women</h3>
        </a>
        <a class="et-hero-tab unisex" href="#tab-Unisex">
            <h3>Unisex</h3>
        </a>
        <a class="et-hero-tab" href="#tab-Home"><img src="../../assets/image/searchicon.png"
                alt="search" class="searchicon"><input type="text" placeholder="search" class="search"></a>
        <a class="et-hero-tab" href="#tab-first"><img
                src="../../assets/image/notification.png"
                alt="notification" class="notification"></a>
        <div class="cartandpro">
            <button class="profile">
                <img src="../../assets/image/navbarcartimage.png" alt="shoppincart">
            </button>
            <!-- profile -->
            <button class="profile"><img src="../../assets/image/profile-img.png" alt="profile">
            </button>
            <button class="log-out">Log-Out</button>
        </div>
        <span class="et-hero-tab-slider"></span>
    </div>

    <div class="parent">
        <div class="cont">
            <div class="product">
                <label for="product">
                    Product Name
                </label>
                <input type="text">
            </div>
            <div class="username">
                <label for="username">Username</label>
                <input type="text">
            </div>
            <div class="phonenumber">
                <label for="phonenumber">Phone No</label>
                <input type="tel">
            </div>
            <div class="address">
                <label for="address">Address</label>
                <input type="text">
            </div>
            <div class="payment">
                <label for="payment">
                    Payment <br>Method
                </label>
                <input type="text" value="Cash" disabled>
            </div>
            <div class="buynow">
                <button>
                    Buy Now
                </button>
            </div>
        </div>
        <div class="cont2">
            <div class="lol">
                <div class="username">
                    <label for="email">Email</label>
                    <input type="email">
                </div>
                <div class="phonenumber2">
                    <label for="phonenumber">Phone No</label>
                    <input type="tel">
                </div>
            </div>
        </div>
    </div> 
</body>

</html>