<head>
  <script src="../../eel.js"></script>
</head>
<section class="order-section">
  <div class="active-order-section">
    <h4>Active Order</h4>
    <div class="active-table">
      <div class="active-header">
        <ul>
          <li>
            <div class="name-container">
              <h4>Product Name</h4>
            </div>
            <div class="product-id-container">
              <h4>Product Id</h4>
            </div>
            <div class="id-container">
              <h4>Order Id</h4>
            </div>
            <div class="status-container">
              <h4>Order Status</h4>
            </div>
            <div class="cancel-container">
              <h4>Cancel Order</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="prev-order-section">
    <h4>Previous Order</h4>
    <div class="active-table">
      <div class="active-header">
        <ul>
          <li>
            <div class="name-container">
              <h4>Product Name</h4>
            </div>
            <div class="product-id-container">
              <h4>Product Id</h4>
            </div>
            <div class="id-container">
              <h4>Order Id</h4>
            </div>
            <div class="status-container">
              <h4>Order Status</h4>
            </div>
            <div class="reveiw-container">Reveiw</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>