<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Setting</title>
    <link rel="stylesheet" href="./setting.css" />
  </head>
  <body>
    <aside class="sidebar">
      <div class="user-pic">
        <video
          src="https://cdn-icons-mp4.flaticon.com/512/6172/6172524.mp4"
          width="180"
          height="100"
          autoplay
          loop
          muted
        ></video>
        <!-- <img src="../../assets/image/icons8-user-96.png" alt="" /> -->
      </div>
      <div class="container">
        <div class="settings">
          <div><h4 class="home">Home</h4></div>
          <div><h4 class="user">User</h4></div>
          <div><h4 class="cart">Cart</h4></div>
          <div><h4 class="order">Orders</h4></div>
          <div><h4 class="log-out">Log Out</h4></div>
          <div><h4 class="cart">Help</h3></div>
          <div><h4 class="order">About us</h4></div>
          <div class="about">
            <h4>Contact us</h4>
          </div>
        </div>
      </div>
    </aside>
    <section id="main">
      <section class="user-profile">
        <div class="user-info">
          <form>
            <div class="btn-container">
              <button class="edit-btn edit" type="submit">Edit</button>
            </div>
            <div class="username">
              <label for="name">
                <h3>Name:</h3>
              </label>
              <input
                type="text"
                name="name"
                class="name-input input- input-disable"
                required
              />
            </div>
            <div class="dob-container">
              <label for="dob">
                <h3>Date of Birth:</h3>
              </label>
              <input
                type="date"
                name="dob"
                class="dob-input input- input-disable"
                required
              />
            </div>
            <div class="gender-container">
              <label for="gender">
                <h3>Gender:</h3>
              </label>
              <div class="radio-btn input- input-disable">
                <input type="radio" id="male" name="gender" value="male" />
                <span>Male</span>
                <input type="radio" id="female" name="gender" value="female" />
                <span>Female</span>
              </div>
            </div>
            <div class="contact-details">
              <label for="phone">
                <h3>Phone:</h3>
              </label>
              <input
                type="number"
                name="phone"
                class="phone-input input- input-disable"
                required
              />
              <label for="email">
                <h3>Email:</h3>
              </label>
              <input
                type="email"
                class="email-input input- input-disable"
                disabled
                required
              />
            </div>
            <div class="address-container">
              <h3>Address</h3>
              <label for="flat">
                <h5>Flat, House no., Building, Company, Apartment</h5>
              </label>
              <input
                type="text"
                name="flat"
                class="flat-input input- input-disable"
                required
              />
              <label for="area">
                <h3>Area, Street, Sector, Village</h3>
              </label>
              <input
                type="text"
                name="area"
                class="area-input input- input-disable"
                required
              />
              <label for="landmark">
                <h3>Landmark</h3>
              </label>
              <input
                type="text"
                name="landmark"
                class="landmark-input input- input-disable"
              />
              <label for="town">
                <h3>Town/City</h3>
              </label>
              <input
                type="text"
                name="town"
                class="town-input input- input-disable"
                required
              />
              <label for="Pincode">
                <h3>Pincode</h3>
              </label>
              <input
                type="number"
                name="Pincode"
                class="pincode-input input- input-disable"
                required
                minlength="6"
                maxlength="6"
              />
              <label for="state">
                <h3>State</h3>
              </label>
              <input
                type="text"
                name="state"
                class="state-input input- input-disable"
                required
              />
            </div>
          </form>
        </div>
      </section>
    </section>
    <script src="../../eel.js"></script>
    <script src="./setting.js"></script>
  </body>
</html>
