body{
    background-color: lightpink;
    margin:2px;

}

.topbar{
    display: flex;
    background-color: white;
    width:1540px;
    height:72px;
    align-items: center;
}
.logo{
    margin-left:30px ;
}
.logo img{
margin: 10px; 
width:60px;
height:60px;
border-radius: 40px;
border: 1px dotted black;
}