<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SneakerHeadHub</title>
    <script src="../../eel.js"></script>
    <link rel="shortcut icon" href="../../assets/image/Logo.png" type="image/x-icon">
</head>

<body>
    <link rel="stylesheet" href="filterpage.css">
    <div class="et-hero-tabs-container">
        <span><img src="../../assets/image/Logo.png" alt="icon"
                class="brandimage"></a></span>
                <!-- <span class="krishnaani">
                    <span class="blueofbrand">S</span>neaker<span 
                    class="yellowofbrand">H</span>ead<span class="blackofbrand">H</span>ub
                    </span> -->
        <a class="et-hero-tab all" href="#tab-Home">
            <h3>All</h3>
        </a>
        <a class="et-hero-tab men" href="#tab-Men">
            <h3>Men</h3>
        </a>
        <a class="et-hero-tab women" href="#tab-Women">
            <h3>Women</h3>
        </a>
        <a class="et-hero-tab unisex" href="#tab-Unisex">
            <h3>Unisex</h3>
        </a>
        <a class="et-hero-tab" href="#tab-Home"><img src="../../assets/image/searchicon.png"
                alt="search" class="searchicon"><input type="text" placeholder="search" class="search"></a>
        <a class="et-hero-tab" href="#tab-first"><img
                src="../../assets/image/notification.png"
                alt="notification" class="notification"></a>
        <div class="cartandpro">
            <button class="profile cart">
                <img src="../../assets/image/navbarcartimage.png" alt="shoppincart">
            </button>
            <!-- profile -->
            <button class="profile setting" ><img src="../../assets/image/profile-img.png" alt="profile">
            </button>
            <!-- <button class="log-out">Log-Out</button> -->
        </div>

        <span class="et-hero-tab-slider"></span>
    </div>
    <div class="parent">
        <div class="filtersearch">
            <div class="headof">
                <h3>Filter Your Shoes</h3>
            </div>
            <!-- <div class="filterofgender">
                <br>
                <div class="gendertype1">
                    <label for="men">MEN</label>
                    <input type="radio" name="shoegender" id="men" class="men-filter">
                </div>
                <div class="gendertype2">
                    <label for=" men">Women</label>
                    <input type="radio" name="shoegender" id="women" class="women-filter">
                </div>
                <div class="gendertype3">
                    <label for=" men">Unisex</label>
                    <input type="radio" name="shoegender" id="unisex" class="unisex-filter">
                </div>
            </div> -->
            <div class="sizeofshoes">
            </div>
            <div class="typesofshoes">
                <h3>Category</h3>
                <span class="Sneaker">
                    Sneaker
                </span>
                <br>
                <span class="Casual-Shoes" value="Shoes">
                    Shoes 
                </span>
                <br>
                <span class="Sports-Shoes" value="Sports">
                    Sports Shoes
                </span>
                <br>
                <div class="tagofbrand">
                    <h3>Brand</h3>
                    <div class="brandname">
                        <div class="brandone">
                            <input type="checkbox" value="Nike" class="nike">
                            <label for="nike">Nike</label>
                        </div>
                        <div>
                            <input type="checkbox"
                            value="Adidas" class="adidas">
                            <label for="adidas">Adidas</label>
                        </div>
                    </div>
                    <div class="brandname">
                        <div class="brandone">
                            <input type="checkbox"
                            value="Puma" class="puma">
                            <label for="puma">Puma</label>
                        </div>
                        <div>
                            <input type="checkbox"
                            value="Converse" class="converse">
                            <label for="converse">Converse</label>
                        </div>
                    </div>
                    <div class="brandname">
                        <div class="brandone">
                            <input type="checkbox">
                            <label for="Skechers">Skechers</label>
                        </div>

                        <!-- add more brand if you need  -->
                        <!-- <div>
                        <input type="checkbox">
                        <label for="Adidas">Adidas</label> 
                    </div> -->
                    </div>






                </div>
            </div>
            <h3>Select Price</h3>
            <div class="slidecontainer">
                <span class="price-filter">5,000-10,000</span>
                <br>
                <span class="price-filter">10,000-15,000</span>
                <br>
                <span class="price-filter">15,000-20,000</span>
                <br>
                <div class="custom-price">
                    <input type="number" class="price-filter-low" width="30" placeholder="min" />
                    <input type="number" class="price-filter-high" width="30" placeholder="max" />
                    <button class="price-filter-btn">Go</button>
                </div>

            </div>
        </div>

        <div class="productpage">
            <div class="outer">

            </div>
        </div>
    </div>
    <script src="./allProduct.js"></script>
    <script>

        let slider = document.getElementById("myRange")
        let output = document.getElementById("demo")
        output.innerHTML = slider.value

        slider.oninput = function () {
            output.innerHTML = slider.value
        }

    </script>
</body>

</html>