<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Filter </title>
    <script src="../../eel.js"></script>
</head>

<body>
    <link rel="stylesheet" href="filterpage.css">
    <div class="et-hero-tabs-container">
        <span><img src="https://cdn-icons-png.flaticon.com/512/1483/1483660.png" alt="icon"
                class="brandimage"></a></span>
        <a class="et-hero-tab all" href="#tab-Home">All</a>
        <a class="et-hero-tab men" href="#tab-Men">Men</a>
        <a class="et-hero-tab women" href="#tab-Women">Women</a>
        <a class="et-hero-tab unisex" href="#tab-Unisex">Unisex</a>
        <a class="et-hero-tab" href="#tab-Home"><img src="https://cdn-icons-png.flaticon.com/512/54/54481.png"
                alt="search" class="searchicon"><input type="text" placeholder="search" class="search"></a>
        <a class="et-hero-tab" href="#tab-first"><img
                src="https://cdn-icons.flaticon.com/png/512/3239/premium/3239958.png?token=exp=1656050522~hmac=ec11b994949022a9d83e95c3ae7c9436"
                alt="notification" class="notification"></a>
        <button class="profile" onclick="k()"><img src="https://cdn-icons-png.flaticon.com/512/456/456212.png"></button>
        <span class="et-hero-tab-slider"></span>
        <button></button>
    </div>
    <div class="parent">
        <div class="filtersearch">
            <div class="headof"><h2>Filter Your Shoes</h2></div>
            <br><br>
            <div class="filterofgender">
                <div class="gendertype1">
                <label for="men">MEN</label>
                <input type="radio" name="shoegender" id="men">
                </div>
                <div class="gendertype2">
                <label for=" men">Women</label>
                <input type="radio" name="shoegender" id="women">
                </div>
                <div class="gendertype3">
                <label for=" men">Unisex</label>
                <input type="radio" name="shoegender" id="unisex">
                </div>
            </div>
            <div class="sizeofshoes"> 
                Pick Size
                <div class="boxofsizes">6</div>
                <div class="boxofsizes">7</div>
                <div class="boxofsizes">8</div>
                <div class="boxofsizes">9</div>
                <div class="boxofsizes">10</div>
                <div class="boxofsizes">11</div>
            </div>
            <div class="typesofshoes">
                <h2>Category</h2>
                Sneaker
                <br>
                Casual Shoes <br>
                Sports & Outdoor Shoes
                <br>
                Formal Shoes
                <br>
                Safety Shoes 
            </div>
            Select Price
            <div class="slidecontainer">
                <input type="range" min="500" max="3000" value="500" class="slider" id="myRange">
                <p> Your Price: <span id="demo"></span></p>
            </div>
        </div>

        <div class="productpage">
            <div class="outer">
                
                <!-- end of the cart  -->
            </div>
        </div>
    </div>
    <script src="./allProduct.js"></script>
    <script>  
        
        let slider=document.getElementById("myRange")
        let output=document.getElementById("demo")
            output.innerHTML=slider.value
        
        slider.oninput =function(){
            output.innerHTML=slider.value
        }    

    </script>
</body>

</html>