<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Filter </title>
    <script src="../../eel.js"></script>
</head>

<body>
    <link rel="stylesheet" href="filterpage.css">
    <div class="et-hero-tabs-container">
        <span><img src="../../assets/image/Logo.png" alt="icon"
                class="brandimage"></a></span>
        <a class="et-hero-tab all" href="#tab-Home">
            <h3>All</h3>
        </a>
        <a class="et-hero-tab men" href="#tab-Men">
            <h3>Men</h3>
        </a>
        <a class="et-hero-tab women" href="#tab-Women">
            <h3>Women</h3>
        </a>
        <a class="et-hero-tab unisex" href="#tab-Unisex">
            <h3>Unisex</h3>
        </a>
        <a class="et-hero-tab" href="#tab-Home"><img src="../../assets/image/searchicon.png"
                alt="search" class="searchicon"><input type="text" placeholder="search" class="search"></a>
        <a class="et-hero-tab" href="#tab-first"><img
                src="../../assets/image/notification.png"
                alt="notification" class="notification"></a>
        <div class="cartandpro">
            <button class="profile cart">
                <img src="../../assets/image/navbarcartimage.png" alt="shoppincart">
            </button>
            <!-- profile -->
            <button class="profile setting" ><img src="../../assets/image/profile-img.png" alt="profile">
            </button>
            <!-- <button class="log-out">Log-Out</button> -->
        </div>

        <span class="et-hero-tab-slider"></span>
    </div>
    <div class="parent">
        <div class="filtersearch">
            <div class="headof">
                <h3>Filter Your Shoes</h3>
            </div>
            <div class="filterofgender">
                <br>
                <div class="gendertype1">
                    <label for="men">MEN</label>
                    <input type="radio" name="shoegender" id="men">
                </div>
                <div class="gendertype2">
                    <label for=" men">Women</label>
                    <input type="radio" name="shoegender" id="women">
                </div>
                <div class="gendertype3">
                    <label for=" men">Unisex</label>
                    <input type="radio" name="shoegender" id="unisex">
                </div>
            </div>
            <div class="sizeofshoes">
            </div>
            <div class="typesofshoes">
                <h3>Category</h3>
                Sneaker
                <br>
                Casual Shoes <br>
                Sports & Outdoor Shoes
                <br>
                <div class="tagofbrand">
                    <h3>Brand</h3>
                    <div class="brandname">
                        <div class="brandone">
                            <input type="checkbox">
                            <label for="nike">Nike</label>
                        </div>
                        <div>
                            <input type="checkbox">
                            <label for="adidas">Adidas</label>
                        </div>
                    </div>
                    <div class="brandname">
                        <div class="brandone">
                            <input type="checkbox">
                            <label for="puma">Puma</label>
                        </div>
                        <div>
                            <input type="checkbox">
                            <label for="converse">Converse</label>
                        </div>
                    </div>
                    <div class="brandname">
                        <div class="brandone">
                            <input type="checkbox">
                            <label for="Skechers">Skechers</label>
                        </div>

                        <!-- add more brand if you need  -->
                        <!-- <div>
                        <input type="checkbox">
                        <label for="Adidas">Adidas</label> 
                    </div> -->
                    </div>






                </div>
            </div>
            <h3>Select Price</h3>
            <div class="slidecontainer">
                <span>5000-10,000</span>
                <br>
                <span>10,00-15,000</span>
                <br>
                <span>15,000-20,000</span>
            </div>
        </div>

        <div class="productpage">
            <div class="outer">

            </div>
        </div>
    </div>
    <script src="./allProduct.js"></script>
    <script>

        let slider = document.getElementById("myRange")
        let output = document.getElementById("demo")
        output.innerHTML = slider.value

        slider.oninput = function () {
            output.innerHTML = slider.value
        }

    </script>
</body>

</html>