<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../eel.js"></script>
    <title>Login Page</title>
  </head>
  <body>
    <link rel="stylesheet" href="shoestyles.css" />
      <div class="adminmodal">
      <div class="modal">
        <div class="modal-back"></div>
        <div class="modal-content">
          <div class="modal-title">
            <p>Admin Login</p>
          </div>
          <div class="modalbody">
            <div class="holder1">
            <input type="text" placeholder="Username" value="admin" class="admin-username">
            <br>
            <input type="password"placeholder='password' value="admin" class="admin-password">
            </div>
            <div class="holder2">
              <img src="../../assets/image/adminMainLogo.png" alt="holder2">
            </div>
            
          </div>
          <div class="action">
              <button class="cancel">Cancel</button>
              <button class="ok admin-login">Login</button>
          </div>
        </div>
    </div>
    <button class="toggle"><img src="../../assets/image/adminButton.png" alt="admin"></button>
    </div>
  </div>
    <div class="container">
      <div class="imgcontainer">
        <img src="../../assets/animation/animatedshoe.gif" alt="shoes" />
      </div>
      <div class="login">
        <form>
          <h1>SIGN <span class="in-up">IN</span></h1>
          <h2>AND</h2>
          <h1><span class="slogan">Explore shoes</span> with us</h1>

          <div class="signIn">
            <div class="infocontainer">
              <br><br>
              <img
                src="../../assets/image/userNameIcon.png"
                alt="usernameicon"
                class="usernameicon"
              />
              <!-- why  default value addded   -->
              <input
                type="text"
                name="username"
                id="username"
                placeholder="Username"
                required
                autocomplete="off"
                class="in-username"
                value="zaid"
              /><br />
              <img
                src="../../assets/image/passwordIcon.png"
                alt=""
                class="passwordicon"
              />
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                autocomplete="off"
                class="in-password"
                value="zaid1234"
                required
              />
              <br />
              <a class="forgot-password">forgot password?</a>
              <br />
            </div>
          </div>

          <div class="signUp hide">
            <div class="infocontainer">
              <label for="username">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                placeholder="Username"
                required
                autocomplete="off"
                class="out-username"
              />
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                autocomplete="off"
                required
                class="out-password"
              />
              <label for="conf-password">Confirm Password</label>
              <input
                type="password"
                name="conf-password"
                id="password"
                placeholder="Password"
                autocomplete="off"
                required
                class="out-conf-password"
              />
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                required
                class="out-email"
              />
              <label for="securityQuestion">Which is Your favorite Shoe</label>
              <input
                type="text"
                name="securityQuestion"
                id="securityQuestion"
                placeholder="E.g. Air Force 1"
                required
                autocomplete="off"
                class="out-question"
              />
              <br /><br />
            </div>
          </div>

          <div class="twobutton">
            <br />
            <button class="frontshoe" type="button">
              <img
                src="../../assets/image/frontShoeBtn.jpg"
                alt="shoeicon"
              />SIGN IN
            </button>
            <button class="backshoe" type="button">
              SIGN UP<img
                src="../../assets/image/backShoeBtn.jpg"
                alt=""
              />
            </button>
          </div>
        </form>
      </div>
    </div>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="./SignUpLogin.js"></script>
  </body>
</html>