<div class="signUp">
  <div class="infocontainer">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      required
      autocomplete="off"
      class="out-username"
    />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      autocomplete="off"
      required
      class="out-password"
    />
    <label for="conf-password">Confirm Password</label>
    <input
      type="password"
      name="conf-password"
      id="conf-password"
      placeholder="Password"
      autocomplete="off"
      required
      class="out-conf-password"
    />
    <label for="email">Email</label>
    <inputcheckSignIn
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      required
      class="out-email"
    />
    <label for="securityQuestion">Which is Your favorite Shoe</label>
    <input
      type="text"
      name="securityQuestion"
      id="securityQuestion"
      placeholder="E.g. Air Force 1"
      required
      autocomplete="off"
      class="out-question"
    />
    <br /><br />
  </div>
</div>
