<div class="centerhoja">
  <div class="parent">
    <div class="cont">
      <div class="placingbtn">
        <button class="go-back">
          <img src="../../assets/image/backbutton.png" alt="" />
          Back
        </button>
      </div>
      <!--  -->
      <!--  -->
      <div class="username">
        <label for="username">Username</label>
        <input type="text" class="username-input" disabled />
      </div>
      <!--  -->
      <div class="phonenumber">
        <label for="phonenumber">Phone No</label>
        <input type="tel" class="phone-input" disabled />
      </div>
      <!--  -->
      <div class="email">
        <label for="email"> Email</label>
        <input type="email" class="email-input" disabled />
      </div>
      <!--  -->
      <div class="product">
        <label for="product"> Product Name </label>
        <input type="text" class="product-input" disabled />
      </div>
      <!--  -->
      <div class="size">
        <label for="size">Size</label>
        <input type="text" class="size-input" disabled  />
      </div>
      <!--  -->
      <div class="quantity">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          class="quantity-input"
          min="1"
          value="1"
          
        />
      </div>
      <div class="email price">
        <label for="price">Price</label>
        <input type="number" class="price-input" disabled />
      </div>
      <div class="payment">
        <label for="payment">Payment</label>
        <input type="text" value="Cash" disabled />
      </div>
      <div class="buynow-btn">
        <button>Confirm Order</button>
      </div>
    </div>
    <div class="cont2">
      <div class="lol">
        <div class="editbtn">
          <button class="edit">
            Edit
            <img src="../../assets/image/editbuybutton.png" alt="" />
          </button>
        </div>
        <div class="Flatno">
          <label for="address">Address,Flat<br />House.no</label>
          <input type="address" class="flat-no" disabled />
        </div>
        <div class="address">
          <label for="address">Area,Street<br />Sector</label>
          <input type="address" class="address-input" disabled />
        </div>
        <div class="landmark">
          <label for="address">Landmark</label>
          <input type="address" class="landmark-input" disabled />
        </div>
        <div class="towncity">
          <label for="address">Town/City</label>
          <input type="address" class="towncity-input" disabled />
        </div>
        <div class="state">
          <label for="state">State</label>
          <input type="text" class="state-input" disabled />
        </div>
        <div class="pincode">
          <label for="address">Pincode</label>
          <input type="address" class="pincode-input" disabled />
        </div>
      </div>
    </div>
  </div>
</div>
