<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Buy now </title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="../../eel.js"></script>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
    <link rel="shortcut icon" href="../../assets/image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./buy.css">
</head>

<body>
    <link rel="stylesheet" href="buynow.css">
    <div class="et-hero-tabs-container">
            <span><img src="../../assets/image/Logo.png" alt="icon"
                class="brandimage"></a></span>
        <a class="et-hero-tab all" href="#tab-Home">
            <h3>All</h3>
        </a>
        <a class="et-hero-tab men" href="#tab-Men">
            <h3>Men</h3>
        </a>
        <a class="et-hero-tab women" href="#tab-Women">
            <h3>Women</h3>
        </a>
        <a class="et-hero-tab unisex" href="#tab-Unisex">
            <h3>Unisex</h3>
        </a>
        <a class="et-hero-tab" href="#tab-Home"><img src="../../assets/image/searchicon.png"
                alt="search" class="searchicon"><input type="text" placeholder="search" class="search"></a>
        <a class="et-hero-tab" href="#tab-first"><img
                src="../../assets/image/notification.png"
                alt="notification" class="notification"></a>
        <div class="cartandpro">
            <button class="profile cart">
                <img src="../../assets/image/navbarcartimage.png" alt="shoppincart">
            </button>
            <!-- profile -->
            <button class="profile setting" ><img src="../../assets/image/profile-img.png" alt="profile">
            </button>
        </div>
        <span class="et-hero-tab-slider"></span>
    </div>
    <div class="displaypicturecont">
        <div class="shoesallimages">
            <div> 
                <img class="img-1" alt="image 1">
                <img class="img-2" alt="image 2">
                <img class="img-3" alt="image 3">
                <img class="img-4" alt="image 4">
            </div>
        </div>
        <div class="productinformation">
            <div class="nameoftheshoe">
               <p class="name"></p>    
            </div>
            <div class="price"> <span class="price-span"></span></div>
            <div class="www"> 
                <div>
                    Quantity <input class="quantity" type="number"
                    disabled>
                </div>
                <div class="coloroptions">
                    COLOR
                </div>

            </div>

            <div class="sizeofshoes"> 
                Pick Size
            </div>
            <div class="shoedesc"></div>
            <button class="buynow">Buy Now</button>
            <button class="cart-button"> 
                <span class="add-to-cart">Add To Cart</span>
                <span class="added">Added</span>

                <!-- <img src="../../assets/image/buttoncart.png" alt="cart" class="btncart"> -->
                <!-- <i class="cart-item"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/sneaker-1986374-1681027.png" srcset="https://cdn.iconscout.com/icon/premium/png-512-thumb/sneaker-1986374-1681027.png 2x" alt="Sneaker Icon" width="256"></i> -->
            
            </button>
        </div>
    </div>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="./single-item.js"></script>
</body>
</html>