<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Buy now </title>
</head>

<body>
    <link rel="stylesheet" href="buynow.css">
    <div class="et-hero-tabs-container">
        <span><img src="https://cdn-icons-png.flaticon.com/512/1483/1483660.png" alt="icon"
                class="brandimage"></a></span>
        <a class="et-hero-tab" href="#tab-Home">Home</a>
        <a class="et-hero-tab" href="#tab-Men">Men</a>
        <a class="et-hero-tab" href="#tab-Women">Women</a>
        <a class="et-hero-tab" href="#tab-Unisex">Unisex</a>
        <a class="et-hero-tab" href="#tab-Home"><img src="https://cdn-icons-png.flaticon.com/512/54/54481.png"
                alt="search" class="searchicon"><input type="text" placeholder="search" class="search"></a>
        <a class="et-hero-tab" href="#tab-first"><img
                src="https://cdn-icons.flaticon.com/png/512/3239/premium/3239958.png?token=exp=1656050522~hmac=ec11b994949022a9d83e95c3ae7c9436"
                alt="notification" class="notification"></a>
        <button class="profile" onclick="k()"><img src="https://cdn-icons-png.flaticon.com/512/456/456212.png"></button>
        <span class="et-hero-tab-slider"></span>
        <button></button>
        <div class="displaypicturecont">
            <div class="shoesallimages">

            </div>
    
        </div>
    </div>

</body>
</html>
