@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: "Rock 3D",
    cursive;
  margin: 0;
}

a {
  text-decoration: none;
}

.lol {
  display: flex;
}

.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background: whitesmoke;
  text-align: center;
  padding: 0 2em;
  border: 2px solid black;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 10;
  border-bottom: 1px double black;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* text color */
  color: black;
  font-weight: bold;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab.tooltiptext {
  visibility: hidden;
}

.et-hero-tab:hover {
  color: black;
  font-weight: bold;
  background: white;
  /* background: rgba(102, 177, 241, 0.8); */

  /* box-shadow: 2px 2px 2px 2px black; */
  width: 10px;
  height: 40px;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #86d6e8;
  transition: left 0.3s ease;
}

.brandimage {
  width: 60px;
  height: 60px;
  margin: 10px;
}


.searchicon {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-right-color: transparent;

}

.search {
  border: 1px solid black;
  border-left-color: transparent;
  width: 200px;
  height: 18px;
}

.notification {
  width: 20px;
  height: 20px;
}

.profile {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.profile img {
  width: 20px;
  height: 20px;
}
.cartandpro{
  display: flex;
  gap: 50px;
  align-items: center;
}

.displaypicturecont {
  display: flex;
  flex-direction: row;
  background-color: white;
  gap: 10px;
  margin-top: 120px;
  margin-left: 2px;
  align-items: center;
}
.log-out{
  background-color: white;
  width: 80px;
  height: 20px;
  margin-right: 4px;
}
.shoesallimages {
  margin-left: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  width:1000px;
  height: 600px;
  background-color: transparent;
  border: 2px solid black;
}

.shoesallimages img {
  width: auto;
  height: 600px;
}

.productinformation {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 550px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  gap: 30px;
}

.nameoftheshoe {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  font-size: 24px;
}

.price span {

  font-size: 24px;
}

.coloroptions {
  display: flex;
  font-size: 20px;
  gap: 10px;
  align-items: center;
  background-color: white;
}

.coloroptions div {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid black;
}

.coloroptions .orange {
  background-color: #ff8d17;
}

.coloroptions .darkblue {
  background-color: #294158;
}


.coloroptions div:hover {
  box-shadow: 1px 1px 1px 1px black;
}

.sizeofshoes {
  display: flex;
  margin-left: 2px;
  align-items: center;
  gap: 10px;
}

.boxofsizes {
  border: 2px solid black;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
}

.boxofsizes:hover {

  width: 30px;
  height: 30px;
  border-radius: 30px;

}

.shoedesc {
  display: flex;
  margin: 4px;
}

.cart-button {
  margin-left: 100px;
  position: relative;
  padding: 10px;
  width: 200px;
  height: 60px;
  border: 2px solid black;
  outline: none;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  color:black;
  transition: 0.1s ease-in-out;
  overflow: hidden;
  margin-bottom: 10px;
}

.cart-button span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 60%;
   transform: translate(-50%, -50%);
  font-size: 1.2em;
  color: black;
}

.cart-button span.add-to-cart {
  opacity: 1;
}

.cart-button span.added {
  opacity: 0;
}

.cart-button .cart-icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.cart-button .cart-item {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
}

.cart-button.clicked .cart-icon {
  animation: cart 3s ease-in-out forwards;
}

.cart-button.clicked .cart-item {
  animation: box 3s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
  animation: add 3s ease-in-out forwards;
}

.cart-button.clicked span.added {
  animation: added 3s ease-in-out forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }
  40%, 60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

@keyframes box {
  0%, 40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 52%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes add {
  0% {
    opacity: 1;
  }
  20%, 100% {
    opacity: 0;
  }
}

@keyframes added {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cart-item img{

  width: 30px;
  height: 30px;
  transform: rotateX(30deg)

}

.buynow{

  margin-left: 100px;
  padding: 10px;
  width: 200px;
  height: 60px;
  border: 2px solid black;
  outline: none;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  color:black;
  overflow: hidden;
}