<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Buy now </title>
    <script src="../../eel.js"></script>
</head>

<body>
    <link rel="stylesheet" href="buynow.css">
    <div class="et-hero-tabs-container">
        <span><img src="https://cdn-icons-png.flaticon.com/512/1483/1483660.png" alt="icon"
                class="brandimage"></a></span>
        <a class="et-hero-tab allBtn" href="#tab-Home">All</a>
        <a class="et-hero-tab menBtn" href="#tab-Men">Men</a>
        <a class="et-hero-tab womenBtn" href="#tab-Women">Women</a>
        <a class="et-hero-tab unisexBtn" href="#tab-Unisex">Unisex</a>
        <a class="et-hero-tab" href="#tab-Home"><img src="https://cdn-icons-png.flaticon.com/512/54/54481.png"
                alt="search" class="searchicon"><input type="text" placeholder="search" class="search"></a>
        <a class="et-hero-tab" href="#tab-first"><img
                src="https://cdn-icons.flaticon.com/png/512/3239/premium/3239958.png?token=exp=1656050522~hmac=ec11b994949022a9d83e95c3ae7c9436"
                alt="notification" class="notification"></a>
        <button class="profile"><img src="https://cdn-icons-png.flaticon.com/512/456/456212.png"></button>
        <span class="et-hero-tab-slider"></span>
        <button></button>
    </div>
    
    <div class="displaypicturecont">
        <div class="shoesallimages">
            <div> 
                <img class="img-1" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/d373e88e-83f7-4c8b-8870-74dd12ed4ed7/air-max-plus-mens-shoes-x9G2xF.png" alt="image 1">
                <img class="img-2" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/388cf8c8-ce94-4988-800a-934aa119d368/air-max-plus-mens-shoes-x9G2xF.png" alt="image 2">
                <img class="img-3" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/62858c13-717c-437e-a308-80f6b7f51009/air-max-plus-mens-shoes-x9G2xF.png" alt="image 3">
                <img class="img-4" src="https://static.nike.com/a/videos/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,so_2.32/c49ba509-d83f-46c2-ad9f-00a538cd85bb/air-max-plus-mens-shoes-x9G2xF.jpg" alt="image 4">
            </div>
        </div>
        <div class="productinformation">
            <div class="nameoftheshoe">
               <p class="name">Nike Air Max Plus</p>    
            </div>
            <div class="price"> <span class="price-span">4000 ₹</span></div>
            <div class="coloroptions">
                COLOR
                <!-- <div></div> -->
                
            </div>
            <div class="sizeofshoes"> 
                Pick Size
                
            </div>
            <div class="shoedesc"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel consectetur, voluptates sed ipsum iste provident! Cum pariatur iusto quasi, quo quidem itaque nam voluptatum numquam corporis, quisquam voluptas autem repellat.</div>
            <button class="addtocart"> ADD TO CART </button>
        </div>
    </div>
    <script src="./single-item.js"></script>
</body>
</html>