<div class="shoesallimages">
  <div>
    <img class="img-1" alt="image 1" />
    <img class="img-2" alt="image 2" />
    <img class="img-3" alt="image 3" />
    <img class="img-4" alt="image 4" />
  </div>
</div>
<div class="productinformation">
  <div class="nameoftheshoe">
    <p class="name"></p>
  </div>
  <div class="price"><span class="price-span"></span></div>
  <div class="www">
    <div>Quantity <input class="quantity" type="number" disabled /></div>
    <div class="coloroptions">COLOR</div>
  </div>
  <div class="sizeofshoes">Pick Size</div>
  <div class="shoedesc"></div>
  <button class="buynow">Buy Now</button>
  <button class="cart-button">
    <span class="add-to-cart">Add To Cart</span>
    <span class="added">Added</span>
    <i class="fas fa-shopping-cart cart-icon"></i>
    <!-- <i class="cart-item"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/sneaker-1986374-1681027.png" srcset="https://cdn.iconscout.com/icon/premium/png-512-thumb/sneaker-1986374-1681027.png 2x" alt="Sneaker Icon" width="256"></i> -->
  </button>
</div>
