<div class="product-container-info">
  <div class="shoesallimages">
    <div>
      <img class="img-1" alt="image 1" />
      <img class="img-2" alt="image 2" />
      <img class="img-3" alt="image 3" />
      <img class="img-4" alt="image 4" />
    </div>
  </div>
  <div class="productinformation">
    <div class="nameoftheshoe">
      <p class="name"></p>
    </div>
    <div class="price"><span class="price-span"></span></div>
    <div class="www">
      <div>Quantity <input class="quantity" type="number" disabled /></div>
      <div class="coloroptions">COLOR</div>
    </div>

    <div class="sizeofshoes">Size</div>
    <div class="shoedesc"></div>
    <button class="buynow-btn buynow">Buy Now</button>
    <button class="cart-button">
      <span class="add-to-cart">Add To Cart</span>
      <span class="added">Added</span>

      <!-- <img src="../../assets/image/buttoncart.png" alt="cart" class="btncart"> -->
      <!-- <i class="cart-item"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/sneaker-1986374-1681027.png" srcset="https://cdn.iconscout.com/icon/premium/png-512-thumb/sneaker-1986374-1681027.png 2x" alt="Sneaker Icon" width="256"></i> -->
    </button>
  </div>
</div>
<div class="review-container">
  <div class="review-box">
    <div class="user-star">
      <h3>Username</h3>
      <span>4</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
      consequuntur voluptatem itaque veniam ad. Recusandae ipsam eligendi sit
      tempora perspiciatis maiores dolores perferendis. Rem delectus nulla saepe
      ipsum ut sed!
    </p>
  </div>
  <div class="review-box">
    <div class="user-star">
      <h3>Username</h3>
      <span>4</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
      consequuntur voluptatem itaque veniam ad. Recusandae ipsam eligendi sit
      tempora perspiciatis maiores dolores perferendis. Rem delectus nulla saepe
      ipsum ut sed!
    </p>
  </div>
  <div class="review-box">
    <div class="user-star">
      <h3>Username</h3>
      <span>4</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
      consequuntur voluptatem itaque veniam ad. Recusandae ipsam eligendi sit
      tempora perspiciatis maiores dolores perferendis. Rem delectus nulla saepe
      ipsum ut sed!
    </p>
  </div>
</div>
