<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<script src="../../eel.js"></script>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="dashboard.css">

<body>
	<section class="et-hero-tabs" id="tab-first">
		<div class="container">
			<div class="slider-container">
				<div class="slider">
					<input id="input1" class="hidden-input" type="radio" name="slider-inputs" checked />
					<input id="input2" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input3" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input4" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input5" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input6" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input7" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input8" class="hidden-input" type="radio" name="slider-inputs" />

					<div class="slider-image" id="image1">
						<label for="input2" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image2">
						<label for="input1" class="slider-label left"></label>
						<label for="input3" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image3">
						<label for="input2" class="slider-label left"></label>
						<label for="input4" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image4">
						<label for="input3" class="slider-label left"></label>
						<label for="input5" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image5">
						<label for="input4" class="slider-label left"></label>
						<label for="input6" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image6">
						<label for="input5" class="slider-label left"></label>
						<label for="input7" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image7">
						<label for="input6" class="slider-label left"></label>
						<label for="input8" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image8">
						<label for="input7" class="slider-label left"></label>
					</div>
				</div>
			</div>
			<!-- <div class="threesixtycontainer">
				<div class="carousel">
					<div class="carouselfrontface">
						<span> now sale</span>
					</div>
					<div class="carouselfrontface"></div>
					<div class="carouselfrontface"></div>
					<div class="carouselfrontface"></div>
					<div class="carouselfrontface"></div>
					<div class="carouselfrontface"></div>
					<div class="carouselfrontface"></div>
					<div class="carouselfrontface"></div>
					<div class="carouselfrontface"></div>
				</div> -->
			<!-- </div>  -->
		</div>

		<div class="et-hero-tabs-container">
			<span><img src="https://cdn-icons-png.flaticon.com/512/1483/1483660.png" alt="icon"
					class="brandimage"></a></span>
			<a class="et-hero-tab" href="#tab-Home">
				<h3>Home</h3>
			</a>
			<a class="et-hero-tab" href="#tab-Men">
				<h3>Men </h3>
			</a>
			<a class="et-hero-tab" href="#tab-Women">
				<h3> Women</h3>
			</a>
			<a class="et-hero-tab" href="#tab-Unisex">
				<h3>Unisex</h3>
			</a>
			<!-- search -->
			<a class="et-hero-tab" href="#tab-Home"><img src="https://cdn-icons-png.flaticon.com/512/54/54481.png"
					alt="search" class="searchicon">
				<input type="text" placeholder="search" class="search"></a>
			<a class="et-hero-tab" href="#tab-first"><img src="https://cdn-icons-png.flaticon.com/512/2645/2645897.png"
					alt="notification" class="notification"></a>
			<div class="cartandpro">
				<button class="profile">
					<img src="https://cdn-icons-png.flaticon.com/128/609/609496.png" alt="shoppincart">
				</button>
				<!-- profile -->
				<button class="profile"><img src="../../assets/image/profile-img.png" alt="profile">
				</button>
			</div>
			<span class="et-hero-tab-slider"></span>
		</div>
	</section>

	<!-- Main -->
	<main class="et-main">
		<section class="et-slidehome" id="tab-Home">
			<div class="hot">
				<h1 class="offernew"> WHAT'S HOT!</h1>
				<div class="l">
					<div class="krishnagrid">
						<div class="firstimage">

							<div class="imgrelative">
								<div class="h4relative">
									<h4>Nike Cortez SP</h4>
								</div>

								<div>
									<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/53be5763-e552-44e0-97fb-6617579ab733/cortez-sp-shoes-v3L7vw.png"
										alt="">
								</div>
							</div>
						</div>

						<div class="secondimage">

							<div class="imgrelative">
								<div class="h4relative">
									<h4>Air Jordan 1 Zoom Cmft</h4>
								</div>

								<div>
									<img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/bd5c9b7d-b289-4e4f-a00d-8420438bff49/air-jordan-1-zoom-cmft-shoes-mDxHSk.png"
										alt="">
								</div>
							</div>
						</div>
						<div class="thirdimage">

							<div class="imgrelative">
								<div class="h4relative">
									<h4>Nike Air Force 1 '07</h4>
								</div>

								<div>
									<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/4f37fca8-6bce-43e7-ad07-f57ae3c13142/air-force-1-07-shoe-WrLlWX.png"
										alt="">
								</div>
							</div>
						</div>

						<div class="fourthimage">

							<div class="imgrelative">
								<div class="h4relative">
									<h4>Nike Dunk Low</h4>
								</div>

								<div>
									<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/8a100b24-af30-4d23-adb0-beaf2a2799a3/dunk-low-shoes-R8Sn2r.png"
										alt="">
								</div>
							</div>
						</div>
						<div class="fifthimage">

							<div class="imgrelative">
								<div class="h4relative">
									<h4>NikeCourt Zoom Vapor Cage 4 Rafa</h4>
								</div>

								<div>
									<img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/5e5d9917-b79f-4281-bdcf-9f9dfe3cf461/nikecourt-zoom-vapor-cage-4-rafa-hard-court-tennis-shoes-cS7wct.png"
										alt="">
								</div>
							</div>
						</div>
						<div class="more">
							<h4 class="textofmore">See More</h4>
						</div>
					</div>






				</div>
			</div>
			</div>
		</section>
		<section class="et-slidemen" id="tab-Men">


		</section>

		<section class="et-slidewomen" id="tab-Women">


		</section>

		<section class="et-slideunisex" id="tab-Unisex">


		</section>
	</main>
	<script src="./home.js"></script>
	<script>

		class StickyNavigation {

			constructor() {
				this.currentId = null;
				this.currentTab = null;
				this.tabContainerHeight = 70;
				let self = this;
				$('.et-hero-tab').click(function () {
					self.onTabClick(event, $(this));
				});
				$(window).scroll(() => { this.onScroll(); });
				$(window).resize(() => { this.onResize(); });
			}

			onTabClick(event, element) {
				event.preventDefault();
				let scrollTop = $(element.attr('href')).offset().top - this.tabContainerHeight + 1;
				$('html, body').animate({ scrollTop: scrollTop }, 600);
			}

			onScroll() {
				this.checkTabContainerPosition();
				this.findCurrentTabSelector();
			}

			onResize() {
				if (this.currentId) {
					this.setSliderCss();
				}
			}

			checkTabContainerPosition() {
				let offset = $('.et-hero-tabs').offset().top + $('.et-hero-tabs').height() - this.tabContainerHeight;
				if ($(window).scrollTop() > offset) {
					$('.et-hero-tabs-container').addClass('et-hero-tabs-container--top');
				}
				else {
					$('.et-hero-tabs-container').removeClass('et-hero-tabs-container--top');
				}
			}

			findCurrentTabSelector(element) {
				let newCurrentId;
				let newCurrentTab;
				let self = this;
				$('.et-hero-tab').each(function () {
					let id = $(this).attr('href');
					let offsetTop = $(id).offset().top - self.tabContainerHeight;
					let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight;
					if ($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
						newCurrentId = id;
						newCurrentTab = $(this);
					}
				});
				if (this.currentId != newCurrentId || this.currentId === null) {
					this.currentId = newCurrentId;
					this.currentTab = newCurrentTab;
					this.setSliderCss();
				}
			}

			setSliderCss() {
				let width = 0;
				let left = 0;
				if (this.currentTab) {
					width = this.currentTab.css('width');
					left = this.currentTab.offset().left;
				}
				$('.et-hero-tab-slider').css('width', width);
				$('.et-hero-tab-slider').css('left', left);
			}

		}

		const krishna = document.querySelector(".lol")

		// function k() {
		// 	window.location.href = "../UserInfo-component/userinfo.html"
		// 	console.log("krishna")
		// 	console.log("working")
		// }

		new StickyNavigation();
	</script>
</body>

</html>