<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<script src="../../eel.js"></script>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="dashboard.css">

<body>
	<section class="et-hero-tabs" id="tab-first">
		<h1>Style Of The Month</h1>
		<div class="container">
			<div class="carousel">
				<div class="carouselfrontface">
					<span> now sale</span>
				</div>
				<div class="carouselfrontface"></div>
				<div class="carouselfrontface"></div>
				<div class="carouselfrontface"></div>
				<div class="carouselfrontface"></div>
				<div class="carouselfrontface"></div>
				<div class="carouselfrontface"></div>
				<div class="carouselfrontface"></div>
				<div class="carouselfrontface"></div>
			</div>
		</div>

		<div class="et-hero-tabs-container">
			<span><img src="https://cdn-icons-png.flaticon.com/512/1483/1483660.png" alt="icon"
					class="brandimage"></a></span>
			<a class="et-hero-tab" href="#tab-Home">Home</a>
			<a class="et-hero-tab" href="#tab-Men">Men</a>
			<a class="et-hero-tab" href="#tab-Women">Women</a>
			<a class="et-hero-tab" href="#tab-Unisex">Unisex</a>
			<a class="et-hero-tab" href="#tab-Home"><img src="https://cdn-icons-png.flaticon.com/512/54/54481.png"
					alt="search" class="searchicon"><input type="text" placeholder="search" class="search"></a>
			<a class="et-hero-tab" href="#tab-first"><img
					src="https://cdn-icons.flaticon.com/png/512/3239/premium/3239958.png?token=exp=1656050522~hmac=ec11b994949022a9d83e95c3ae7c9436"
					alt="notification" class="notification"></a>
			<button class="profile" onclick="k()"><img
					src="../../assets/image/profile-img.png" alt="profile">
			</button>
			<span class="et-hero-tab-slider"></span>
		</div>
	</section>

	<!-- Main -->
	<main class="et-main">
		<h2>Refresh your style with a new pair of men’s shoes .Our range has everything you need to rack up fashion
			points – cool sneakers,Go on and look through to find the right fit for you! +
			Men’s Casual Shoes</h2>
		<section class="et-slidehome" id="tab-Home">
			<!-- first product  -->
			<div id="productcontainer">
				
			</div>
			<div class="nextbtn allBtn">
				<button title=" SEE MORE"><img src="https://cdn-icons-png.flaticon.com/512/709/709586.png"></button>
			</div>
		</section>

		<h2>The range of men's shoes has got you covered, if you're striving to be the best or you just want the best
			fit for your daily life. With iconic designs and high-performance technologies, you can be sure that your
			shoes won't let you down.</h2>
	
	
			<section class="et-slidemen" id="tab-Men">
			<!-- first product  -->
			<div id="productcontainermen">
				
					
				
			</div>
			<div class="nextbtn menBtn">
				<button title=" SEE MORE"><img src="https://cdn-icons-png.flaticon.com/512/709/709586.png"></button>
			</div>
		</section>
		<h2>I like Cinderella, I really do. She has a good work ethic. And she likes shoes. The fairy tale is all about
			the shoe at the end.</h2>
		
		
			<section class="et-slidewomen" id="tab-Women">
			<!-- first product  -->
			<div id="productcontainerwomen">
				
			</div>
			<div class="nextbtn womenBtn" >
				<button title=" SEE MORE"><img src="https://cdn-icons-png.flaticon.com/512/709/709586.png"></button>
			</div>
		</section>	

		<h2>“Until we as a gender refuse to wear any shoe that would be uncomfortable to walk a mile in, we're perfectly
			screwed.”</h2>
		
		<section class="et-slideunisex" id="tab-Unisex">
			<!-- first product  -->
			<div id="productcontainerunisex">
				
			</div>
			<div class="nextbtn unisexBtn">
				<button title=" SEE MORE"><img src="https://cdn-icons-png.flaticon.com/512/709/709586.png"></button>
			</div>
		</section>
	</main>
	<script src="./home.js"></script>
	<script>

		class StickyNavigation {

			constructor() {
				this.currentId = null;
				this.currentTab = null;
				this.tabContainerHeight = 70;
				let self = this;
				$('.et-hero-tab').click(function () {
					self.onTabClick(event, $(this));
				});
				$(window).scroll(() => { this.onScroll(); });
				$(window).resize(() => { this.onResize(); });
			}

			onTabClick(event, element) {
				event.preventDefault();
				let scrollTop = $(element.attr('href')).offset().top - this.tabContainerHeight + 1;
				$('html, body').animate({ scrollTop: scrollTop }, 600);
			}

			onScroll() {
				this.checkTabContainerPosition();
				this.findCurrentTabSelector();
			}

			onResize() {
				if (this.currentId) {
					this.setSliderCss();
				}
			}

			checkTabContainerPosition() {
				let offset = $('.et-hero-tabs').offset().top + $('.et-hero-tabs').height() - this.tabContainerHeight;
				if ($(window).scrollTop() > offset) {
					$('.et-hero-tabs-container').addClass('et-hero-tabs-container--top');
				}
				else {
					$('.et-hero-tabs-container').removeClass('et-hero-tabs-container--top');
				}
			}

			findCurrentTabSelector(element) {
				let newCurrentId;
				let newCurrentTab;
				let self = this;
				$('.et-hero-tab').each(function () {
					let id = $(this).attr('href');
					let offsetTop = $(id).offset().top - self.tabContainerHeight;
					let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight;
					if ($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
						newCurrentId = id;
						newCurrentTab = $(this);
					}
				});
				if (this.currentId != newCurrentId || this.currentId === null) {
					this.currentId = newCurrentId;
					this.currentTab = newCurrentTab;
					this.setSliderCss();
				}
			}

			setSliderCss() {
				let width = 0;
				let left = 0;
				if (this.currentTab) {
					width = this.currentTab.css('width');
					left = this.currentTab.offset().left;
				}
				$('.et-hero-tab-slider').css('width', width);
				$('.et-hero-tab-slider').css('left', left);
			}

		}

		const krishna = document.querySelector(".lol")

		function k() {
			window.location.href = "../login-component/SignUpLogin.html"
			console.log("krishna")
			console.log("working")
		}

		new StickyNavigation();
	</script>
</body>

</html>