<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="shortcut icon"
      href="../../assets/image/Logo.png"
      type="image/x-icon"
    />
    <script src="../../eel.js"></script>
    <script src="./home.js" defer></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="dashboard.css" />
  </head>

  <body class="main">
    <!--
	<section class="et-hero-tabs" id="tab-first">
		
		<div class="container">
			<div class="slider-container">
				<div class="slider">
					<input id="input1" class="hidden-input" type="radio" name="slider-inputs" checked />
					<input id="input2" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input3" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input4" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input5" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input6" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input7" class="hidden-input" type="radio" name="slider-inputs" />
					<input id="input8" class="hidden-input" type="radio" name="slider-inputs" />

					<div class="slider-image" id="image1">
						<label for="input2" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image2">
						<label for="input1" class="slider-label left"></label>
						<label for="input3" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image3">
						<label for="input2" class="slider-label left"></label>
						<label for="input4" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image4">
						<label for="input3" class="slider-label left"></label>
						<label for="input5" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image5">
						<label for="input4" class="slider-label left"></label>
						<label for="input6" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image6">
						<label for="input5" class="slider-label left"></label>
						<label for="input7" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image7">
						<label for="input6" class="slider-label left"></label>
						<label for="input8" class="slider-label right"></label>
					</div>
					<div class="slider-image" id="image8">
						<label for="input7" class="slider-label left"></label>
					</div>
				</div>
			</div>
			
		</div>

		<div class="et-hero-tabs-container">
			<span><img src="../../assets/image/Logo.png" alt="icon"
					class="brandimage"></a></span>
					<span class="krishnaani">
						<span class="blueofbrand">S</span>neaker<span 
						class="yellowofbrand">H</span>ead<span class="blackofbrand">H</span>ub
						</span>
			<a class="et-hero-tab" href="#tab-Home">
				<h3>Home</h3>
			</a>
			<a class="et-hero-tab" href="#tab-Men">
				<h3>Men </h3>
			</a>
			<a class="et-hero-tab" href="#tab-Women">
				<h3> Women</h3>
			</a>
			<a class="et-hero-tab" href="#tab-Unisex">
				<h3>Unisex</h3>
			</a>
			
			<a class="search-section">
				<img src="../../assets/image/searchicon.png"
					alt="search" class="searchicon">
					<input type="text" placeholder="search" class="search">
			</a>
			
				<a class="et-hero-tab" href="#tab-first"><img src="../../assets/image/notification.png"
					alt="notification" class="notification"></a>
			<div class="cartandpro">
				<button class="profile cart">
					<img src="../../assets/image/navbarcartimage.png" alt="shoppincart">
				</button>
				
				<button class="profile" id="setting"><img src="../../assets/image/profile-img.png" alt="profile">
				</button>
			</div>
			<span class="et-hero-tab-slider"></span>
			<button class="mico">
			<img src="https://cdn-icons-png.flaticon.com/512/7719/7719929.png" alt="mic">
				
			</button>
		</div>
	</section>

	<main class="et-main">
		<section class="et-slidehome" id="tab-Home">
			<div class="hot">
				<h1 class="offernew"> WHAT'S HOT!</h1>
				<div class="l">
					<div class="krishnagrid">
						
					</div>
				</div>
			</div>
			</div>
		</section>
		<section class="et-slidemen" id="tab-Men">
			<div class="man-shoe-container">
				<div class="krishnagrid">
				
				</div>
			</div>

		</section>

		<section class="et-slidewomen" id="tab-Women">
			<div class="women-shoe-container">
				<div class="krishnagrid">
					
				</div>
			</div>
		</section>

		<section class="et-slideunisex" id="tab-Unisex">
			<div class="unisex-shoe-container">
				<div class="krishnagrid">
					
				</div>
			</div>
		</section>
	</main>
	
	<script>

		class StickyNavigation {

			constructor() {
				this.currentId = null;
				this.currentTab = null;
				this.tabContainerHeight = 70;
				let self = this;
				$('.et-hero-tab').click(function () {
					self.onTabClick(event, $(this));
				});
				$(window).scroll(() => { this.onScroll(); });
				$(window).resize(() => { this.onResize(); });
			}

			onTabClick(event, element) {
				event.preventDefault();
				let scrollTop = $(element.attr('href')).offset().top - this.tabContainerHeight + 1;
				$('html, body').animate({ scrollTop: scrollTop }, 600);
			}

			onScroll() {
				this.checkTabContainerPosition();
				this.findCurrentTabSelector();
			}

			onResize() {
				if (this.currentId) {
					this.setSliderCss();
				}
			}

			checkTabContainerPosition() {
				let offset = $('.et-hero-tabs').offset().top + $('.et-hero-tabs').height() - this.tabContainerHeight;
				if ($(window).scrollTop() > offset) {
					$('.et-hero-tabs-container').addClass('et-hero-tabs-container--top');
				}
				else {
					$('.et-hero-tabs-container').removeClass('et-hero-tabs-container--top');
				}
			}

			findCurrentTabSelector(element) {
				let newCurrentId;
				let newCurrentTab;
				let self = this;
				$('.et-hero-tab').each(function () {
					let id = $(this).attr('href');
					let offsetTop = $(id).offset().top - self.tabContainerHeight;
					let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight;
					if ($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
						newCurrentId = id;
						newCurrentTab = $(this);
					}
				});
				if (this.currentId != newCurrentId || this.currentId === null) {
					this.currentId = newCurrentId;
					this.currentTab = newCurrentTab;
					this.setSliderCss();
				}
			}

			setSliderCss() {
				let width = 0;
				let left = 0;
				if (this.currentTab) {
					width = this.currentTab.css('width');
					left = this.currentTab.offset().left;
				}
				$('.et-hero-tab-slider').css('width', width);
				$('.et-hero-tab-slider').css('left', left);
			}
		}

		const krishna = document.querySelector(".lol")

		function k() {
			window.location.href = "../login-component/SignUpLogin.html"
			console.log("krishna")
			console.log("working")
		}

		new StickyNavigation();
	</script> -->
  </body>
  <script>
    class StickyNavigation {
      constructor() {
        this.currentId = null;
        this.currentTab = null;
        this.tabContainerHeight = 70;
        let self = this;
        $(".et-hero-tab").click(function () {
          self.onTabClick(event, $(this));
        });
        $(window).scroll(() => {
          this.onScroll();
        });
        $(window).resize(() => {
          this.onResize();
        });
      }

      onTabClick(event, element) {
        event.preventDefault();
        let scrollTop =
          $(element.attr("href")).offset().top - this.tabContainerHeight + 1;
        $("html, body").animate({ scrollTop: scrollTop }, 600);
      }

      onScroll() {
        this.checkTabContainerPosition();
        this.findCurrentTabSelector();
      }

      onResize() {
        if (this.currentId) {
          this.setSliderCss();
        }
      }

      checkTabContainerPosition() {
        let offset =
          $(".et-hero-tabs").offset().top +
          $(".et-hero-tabs").height() -
          this.tabContainerHeight;
        if ($(window).scrollTop() > offset) {
          $(".et-hero-tabs-container").addClass("et-hero-tabs-container--top");
        } else {
          $(".et-hero-tabs-container").removeClass(
            "et-hero-tabs-container--top"
          );
        }
      }

      findCurrentTabSelector(element) {
        let newCurrentId;
        let newCurrentTab;
        let self = this;
        $(".et-hero-tab").each(function () {
          let id = $(this).attr("href");
          let offsetTop = $(id).offset().top - self.tabContainerHeight;
          let offsetBottom =
            $(id).offset().top + $(id).height() - self.tabContainerHeight;
          if (
            $(window).scrollTop() > offsetTop &&
            $(window).scrollTop() < offsetBottom
          ) {
            newCurrentId = id;
            newCurrentTab = $(this);
          }
        });
        if (this.currentId != newCurrentId || this.currentId === null) {
          this.currentId = newCurrentId;
          this.currentTab = newCurrentTab;
          this.setSliderCss();
        }
      }

      setSliderCss() {
        let width = 0;
        let left = 0;
        if (this.currentTab) {
          width = this.currentTab.css("width");
          left = this.currentTab.offset().left;
        }
        $(".et-hero-tab-slider").css("width", width);
        $(".et-hero-tab-slider").css("left", left);
      }
    }

    const krishna = document.querySelector(".lol");

    function k() {
      window.location.href = "../login-component/SignUpLogin.html";
      console.log("krishna");
      console.log("working");
    }

    new StickyNavigation();
  </script>
</html>
