<link rel="stylesheet" href="admin.css" />

<div class="detailspage">
  <table>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Product Type</th>
      <th>Product Quantity</th>
      <th>Product Price</th>
      <th>Product Desc</th>
      <th>Edit Product</th>
      <th>Delete Product</th>
    </tr>
    <!-- <tr>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr> -->
  </table>
</div>
