<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../eel.js"></script>
  <title>Admin Page</title>
</head>
<!-- CSS only -->

<body>
  <link rel="stylesheet" href="admin.css">
  <div class="sforflex">
    <div class="lolsearch">
      <!-- <img src="../../assets/image/searchicon.png" -->
      <!-- alt="search" class="searchicon"> -->
      <input type="text" placeholder="search" class="search"></a>
      <button> <a href="../../components/admin-component/productadmin.html"> ADD</a></button>
    </div>
  </div>
  <div class="pagecontainer">
    <div class="adminboard">
      <div class="profile">
        <img src="../../assets/image/profile-img.png" alt="admin">
        <div class="welcome">Welcome Back Dev</div>
        <br><br>
        <div class="admincontent">
          <div>Products</div>
          <a href="../../components/admin-component/ordersAd.html">Order Details</a>
          <div> Daily Orders</div>
          <div> Leaderboards</div>
          <div> Order Management</div>
          <div> Customer Statics</div>
        </div>
      </div>
    </div>




    <div class="detailspage">
      <table>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Type</th>
          <th>Product Quantity</th>
          <th>Product Price</th>
          <th>Product Desc</th>
          <th>ADD Product</th>
          <th>Delete Product</th>
        </tr>
        <tr>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td>firstt element hai </td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem, alias nihil corporis accusamus quo eius architecto exercitationem delectus itaque molestias. Porro veniam dolore esse culpa tenetur tempora inventore aspernatur.</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem, alias nihil corporis accusamus quo eius architecto exercitationem delectus itaque molestias. Porro veniam dolore esse culpa tenetur tempora inventore aspernatur.</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem, alias nihil corporis accusamus quo eius architecto exercitationem delectus itaque molestias. Porro veniam dolore esse culpa tenetur tempora inventore aspernatur.</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem, alias nihil corporis accusamus quo eius architecto exercitationem delectus itaque molestias. Porro veniam dolore esse culpa tenetur tempora inventore aspernatur.</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem, alias nihil corporis accusamus quo eius architecto exercitationem delectus itaque molestias. Porro veniam dolore esse culpa tenetur tempora inventore aspernatur.</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatem, alias nihil corporis accusamus quo eius architecto exercitationem delectus itaque molestias. Porro veniam dolore esse culpa tenetur tempora inventore aspernatur.</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
        <tr>
          <td> last    element hai bhainone</td>
          <td> last    element hai bhainone</td>
          <td> last    element hai bhainone</td>
          <td> last    element hai bhainone</td>
          <td> last    element hai bhainone</td>
          <td> last    element hai bhainone</td>
          <td><button class="tablebutton">Add</button></td>
          <td><button class="tablebutton">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>

</body>

</html>