<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../eel.js"></script>
    <title>Admin Order</title>
</head>
<!-- CSS only -->

<body>  
  <link rel="stylesheet" href="ordersAd.css">
  <div class="sforflex">
    <div class="lolsearch">
      <input type="text" placeholder="search" class="search"></a>
      <button>ADD</button>
    </div>
  </div>
    <div class="pagecontainer">
      <div class="adminboard">
          <div class="profile">
            <img src="../../assets/image/profile-img.png" alt="admin">
            <div class="welcome">Welcome Back Dev</div>
            <br><br>
            <div class="admincontent">
              <div> <a href="../../components/admin-component/admin.html">Products</a></div>
              <div><select id="" name="" class="orderdetailsdropdown">
                <option value="select">Order Details</option>
                <option value="active">Active Detail</option>
                <option value="prev">Prev Details</option>
              </select></div>
              <div> Daily Orders</div>
              <div> Leaderboards</div>
              <div> Order Management</div>
              <div> Customer Statics</div>
            </div>
          </div>
        </div>




        <div class="detailspage">
          <table>
            <tr>
              <th>Order ID</th>
              <th>Customer ID</th>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Product Quantity</th>
              <th>Product Price</th>
              <th>Order Status</th>

            </tr>
            <tr>
              <td>none</td>
              <td>none</td>
              <td>none</td>
              <td>none</td>
              <td>none</td>
              <td>none</td>
              <td><button  class="tablebutton">Add</button></td>
            </tr>
            <tr>
              <td>none</td>
              <td>none</td>
              <td>none</td>
              <td>none</td>
              <td>none</td>
              <td>none</td>
              <td><button  class="tablebutton">Add</button></td>
            </tr>
            <tr>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td><button  class="tablebutton">Add</button></td>
            </tr>
            <tr>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td><button  class="tablebutton">Add</button></td>
            </tr>
            <tr>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td><button  class="tablebutton">Add</button></td>
            </tr>
            <tr>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td><button  class="tablebutton">Add</button></td>
            </tr>
            <tr>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td><button  class="tablebutton">Add</button></td>
            </tr>
            <tr>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td><button  class="tablebutton">Add</button></td>
            </tr>
            <tr>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td><button  class="tablebutton">Add</button></td>
            </tr>
          </table>
        </div>
      </div>
          
</body>
</html>