<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../eel.js"></script>
    <title>Product ADmin</title>
</head>
<body>
    <link rel="stylesheet" href="productadmin.css">
        <div class="sforflex">
            <div class="lolsearch">
                <!-- <img src="../../assets/image/searchicon.png" -->
                <!-- alt="search" class="searchicon"> -->
                <input type="text" placeholder="search" class="search"></a>
                <button>ADD</button>
            </div>
        </div>
        <div class="pagecontainer">
            <div class="adminboard">
                <div class="profile">
                    <img src="../../assets/image/profile-img.png" alt="admin">
                    <div class="welcome">Welcome Back Dev</div>
                    <br><br>
                    <div class="admincontent">
                        <div>Products</div>
                        <div> <a href="../../components/admin-component/ordersAd.html">Order Details</a></div>
                        <div> Daily Orders</div>
                        <div> Leaderboards</div>
                        <div> Order Management</div>
                        <div> Customer Statics</div>
                    </div>
                </div>
            </div>



            <div class="detailspage">
                <div class="productdetails">
                    <div class="lmao">
                        <div class="namewithinpo">
                            <label for="Productname">Product Name</label>
                            <input type="text">
                        </div>

                        <div class="producttype">
                            <label for="product type">Product Type</label>
                            <select name="shoes" id="">
                                <option value="Sneaker">Sneaker</option>
                                <option value="ss">Sports Shoes</option>
                                <option value="shoes">Shoes</option>
                            </select>
                        </div>
                        <div class="producttype">
                            <label for="product type">Gender Type</label>
                            <select name="product-gender-type" id="">
                                <option value="men">Men</option>
                                <option value="women">Women</option>
                                <option value="unisex">Unisex</option>
                            </select>
                        </div>
                        <div class="desc">
                            <label for="Productdesc">Description</label>
                            <input type="text">
                        </div>
                        <div class="price">
                            <label for="Productdesc">Price</label>
                            <input type="number" min="1" max="1000000" value="1">
                        </div>
                        <div class="quantity">
                            <label for="quantity">Quantity</label>
                            <input type="number" min="1" max="100000" value="1">
                        </div>
                        <div class="color">
                            <label for="Productdesc">Color</label>
                            <input type="color">
                        </div>
                        <div class="company">
                            <label for="Productdesc">Company</label>
                            <input type="text">
                        </div>
                    </div>
                </div>
            <div  class="conttwo"> 
                <div class="imageinpgrid">
                    <div class="">
                        <input type="image"  src="  " accept="image/*" />
                    </div>
                    <div class="">
                        <input type="url"  />
                    </div>
                    <div class="">
                        <input type="file" accept="image/*" />
                    </div>
                    <div class="">
                        <input type="file" accept="image/*" />
                    </div>
                    <div class="">
                        <input type="file" accept="image/*" />
                    </div>

                </div>
                <div class="shoechart">

                    <img src="https://www.soleracks.com/wp-content/uploads/2016/10/adidas-shoes-size-chart-conversion-unisex-men-women.png" alt="">
                </div>
            </div>
            </div>

</body>

</html>